<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/men_styles.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <!-- Reset -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap" rel="stylesheet">
    <!-- <script type="text/javascript" defer src="/js/script.js"></script> -->
</head>
<body> 
    <%- include('../partials/header.ejs')  %>
    <div class="container mx-auto max-w-[1350px] page-content">
       
        <main class="main">
            
            <%- body %>
            </main>
            <%- include('../partials/footer.ejs')  %>
    </div>
    <script
    type="text/javascript"
    src="/node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/swiper.js"></script>
    <script src="/js/nav.js"></script>
</body>
</html>